<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>TKImageExportName</key>
		<string>DDS DXT5</string>
		<key>TKImageExportFileType</key>
		<string>DDS</string>
		<key>TKImageExportFormat</key>
		<string>DXT5</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<key>1</key>
	<dict>
		<key>TKImageExportName</key>
		<string>DDS DXT1</string>
		<key>TKImageExportFileType</key>
		<string>DDS</string>
		<key>TKImageExportFormat</key>
		<string>DXT1</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<key>2</key>
	<dict>
		<key>TKImageExportName</key>
		<string>VTF BGRA</string>
		<key>TKImageExportFileType</key>
		<string>VTF</string>
		<key>TKImageExportFormat</key>
		<string>BGRA</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<key>3</key>
	<dict>
		<key>TKImageExportName</key>
		<string>VTF DXT5</string>
		<key>TKImageExportFileType</key>
		<string>VTF</string>
		<key>TKImageExportFormat</key>
		<string>DXT5</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
</dict>
</plist>
