<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TKImageExportName</key>
		<string>DDS DXT1</string>
		<key>TKImageExportFileType</key>
		<string>DDS</string>
		<key>TKImageExportFormat</key>
		<string>DXT1</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>DDS DXT1a</string>
		<key>TKImageExportFileType</key>
		<string>DDS</string>
		<key>TKImageExportFormat</key>
		<string>DXT1a</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>DDS DXT3</string>
		<key>TKImageExportFileType</key>
		<string>DDS</string>
		<key>TKImageExportFormat</key>
		<string>DXT3</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>DDS DXT5</string>
		<key>TKImageExportFileType</key>
		<string>DDS</string>
		<key>TKImageExportFormat</key>
		<string>DXT5</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>DDS RGBA</string>
		<key>TKImageExportFileType</key>
		<string>DDS</string>
		<key>TKImageExportFormat</key>
		<string>RGBA</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>VTF DXT1</string>
		<key>TKImageExportFileType</key>
		<string>VTF</string>
		<key>TKImageExportFormat</key>
		<string>DXT1</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>VTF DXT1a</string>
		<key>TKImageExportFileType</key>
		<string>VTF</string>
		<key>TKImageExportFormat</key>
		<string>DXT1a</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>VTF DXT3</string>
		<key>TKImageExportFileType</key>
		<string>VTF</string>
		<key>TKImageExportFormat</key>
		<string>DXT3</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>VTF DXT5</string>
		<key>TKImageExportFileType</key>
		<string>VTF</string>
		<key>TKImageExportFormat</key>
		<string>DXT5</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
	<dict>
		<key>TKImageExportName</key>
		<string>VTF BGRA</string>
		<key>TKImageExportFileType</key>
		<string>VTF</string>
		<key>TKImageExportFormat</key>
		<string>BGRA</string>
		<key>TKImageExportDXTCompressionQuality</key>
		<string>High</string>
		<key>TKImageExportMipmaps</key>
		<true/>
	</dict>
</array>
</plist>
