<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>net.sourceforge.mumble.Mumble</key>
	<dict>
		<key>AppName</key>
		<string>Mumble</string>
		<key>BundleID</key>
		<string>net.sourceforge.mumble.Mumble</string>
		<key>GameID</key>
		<integer>34</integer>
	</dict>
	<key>net.sourceforge.mumble.Mumble11x</key>
	<dict>
		<key>AppName</key>
		<string>Mumble11x</string>
		<key>BundleID</key>
		<string>net.sourceforge.mumble.Mumble11x</string>
		<key>GameID</key>
		<integer>34</integer>
	</dict>
	<key>com.ventrilo.Ventrilo</key>
	<dict>
		<key>AppName</key>
		<string>Ventrilo</string>
		<key>BundleID</key>
		<string>com.ventrilo.Ventrilo</string>
		<key>GameID</key>
		<integer>33</integer>
	</dict>
	<key>com.teamspeak.TeamSpeak3</key>
	<dict>
		<key>AppName</key>
		<string>TeamSpeak 3 Client</string>
		<key>BundleID</key>
		<string>com.teamspeak.TeamSpeak3</string>
		<key>GameID</key>
		<integer>32</integer>
	</dict>
	<key>Age of Empires II</key>
	<dict>
		<key>AppName</key>
		<string>Age of Empires II</string>
		<key>GameID</key>
		<integer>4124</integer>
	</dict>
	<key>Age of Empires III</key>
	<dict>
		<key>AppName</key>
		<string>Age of Empires III</string>
		<key>GameID</key>
		<integer>4679</integer>
	</dict>
	<key>Age of Mythology</key>
	<dict>
		<key>AppName</key>
		<string>Age of Mythology</string>
		<key>GameID</key>
		<integer>4139</integer>
	</dict>
	<key>com.armygame.operations</key>
	<dict>
		<key>AppName</key>
		<string>Army Operations 2.5.0</string>
		<key>BundleID</key>
		<string>com.armygame.operations</string>
		<key>GameID</key>
		<integer>2</integer>
	</dict>
	<key>Athena Sword</key>
	<dict>
		<key>AppName</key>
		<string>Athena Sword</string>
		<key>GameID</key>
		<integer>4275</integer>
	</dict>
	<key>com.aspyr.battlefield1942</key>
	<dict>
		<key>AppName</key>
		<string>Battlefield 1942</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>+joinServer</string>
			<key>PasswordArg</key>
			<string>+password</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>ConnectArg</string>
			<string>PasswordArg</string>
		</array>
		<key>BundleID</key>
		<string>com.aspyr.battlefield1942</string>
		<key>GameID</key>
		<integer>4105</integer>
	</dict>
	<key>com.feral.battlestationsmidway</key>
	<dict>
		<key>AppName</key>
		<string>Battlestations Midway</string>
		<key>BundleID</key>
		<string>com.feral.battlestationsmidway</string>
		<key>GameID</key>
		<integer>4979</integer>
	</dict>
	<key>com.feralinteractive.bioshock</key>
	<dict>
		<key>AppName</key>
		<string>Bioshock</string>
		<key>BundleID</key>
		<string>com.feralinteractive.bioshock</string>
		<key>GameID</key>
		<integer>5119</integer>
	</dict>
	<key>Breakthrough</key>
	<dict>
		<key>AppName</key>
		<string>Breakthrough</string>
		<key>GameID</key>
		<integer>4150</integer>
	</dict>
	<key>com.aspyr.callofduty</key>
	<dict>
		<key>AppName</key>
		<string>Call of Duty SP</string>
		<key>BundleID</key>
		<string>com.aspyr.callofduty</string>
		<key>GameID</key>
		<integer>4119</integer>
	</dict>
	<key>com.aspyr.callofdutymp</key>
	<dict>
		<key>AppName</key>
		<string>Call of Duty MP</string>
		<key>Args</key>
		<array>
			<string>NSServices</string>
		</array>
		<key>BundleID</key>
		<string>com.aspyr.callofdutymp</string>
		<key>GameID</key>
		<integer>4120</integer>
	</dict>
	<key>com.aspyr.callofdutyuosp</key>
	<dict>
		<key>AppName</key>
		<string>CoD United Offensive SP</string>
		<key>BundleID</key>
		<string>com.aspyr.callofdutyuosp</string>
		<key>GameID</key>
		<integer>4310</integer>
	</dict>
	<key>com.aspyr.callofdutyuomp</key>
	<dict>
		<key>AppName</key>
		<string>CoD United Offensive MP</string>
		<key>Args</key>
		<array>
			<string>NSServices</string>
		</array>
		<key>BundleID</key>
		<string>com.aspyr.callofdutyuomp</string>
		<key>GameID</key>
		<integer>4311</integer>
	</dict>
	<key>com.aspyr.callofduty2</key>
	<dict>
		<key>&apos;CD2S&apos;</key>
		<dict>
			<key>43410032</key>
			<dict>
				<key>AppName</key>
				<string>Call of Duty 2 Demo</string>
				<key>BundleID</key>
				<string>com.aspyr.callofduty2</string>
				<key>GameID</key>
				<integer>4656</integer>
				<key>FileCreator</key>
				<string>&apos;CD2S&apos;</string>
				<key>MachOExecutableSize</key>
				<integer>43410032</integer>
			</dict>
			<key>24337964</key>
			<dict>
				<key>AppName</key>
				<string>Call of Duty 2</string>
				<key>BundleID</key>
				<string>com.aspyr.callofduty2</string>
				<key>GameID</key>
				<integer>4683</integer>
				<key>FileCreator</key>
				<string>&apos;CD2S&apos;</string>
				<key>MachOExecutableSize</key>
				<integer>24337964</integer>
				<key>DeveloperNotes</key>
				<string>This is for DVD ROM version which is 1.0</string>
			</dict>
			<key>24448556</key>
			<dict>
				<key>AppName</key>
				<string>Call of Duty 2</string>
				<key>BundleID</key>
				<string>com.aspyr.callofduty2</string>
				<key>GameID</key>
				<integer>4683</integer>
				<key>FileCreator</key>
				<string>&apos;CD2S&apos;</string>
				<key>MachOExecutableSize</key>
				<integer>24448556</integer>
				<key>DeveloperNotes</key>
				<string>This is for the 1.3 update</string>
			</dict>
		</dict>
		<key>&apos;CD2M&apos;</key>
		<dict>
			<key>AppName</key>
			<string>Call of Duty 2 Multiplayer</string>
			<key>Args</key>
			<dict>
				<key>ConnectArg</key>
				<string>+connect</string>
				<key>PasswordArg</key>
				<string>+password</string>
				<key>OtherArgs</key>
				<array>
					<string>+set cl_punkbuster 1</string>
				</array>
			</dict>
			<key>ArgsOrder</key>
			<array>
				<string>OtherArgs</string>
				<string>PasswordArg</string>
				<string>ConnectArg</string>
			</array>
			<key>BundleID</key>
			<string>com.aspyr.callofduty2</string>
			<key>GameID</key>
			<integer>4684</integer>
			<key>FileCreator</key>
			<string>&apos;CD2M&apos;</string>
		</dict>
	</dict>
	<key>com.aspyr.callofduty4</key>
	<dict>
		<key>&apos;CD4S&apos;</key>
		<dict>
			<key>AppName</key>
			<string>Call of Duty 4</string>
			<key>BundleID</key>
			<string>com.aspyr.callofduty4</string>
			<key>GameID</key>
			<integer>5185</integer>
			<key>FileCreator</key>
			<string>&apos;CD4S&apos;</string>
		</dict>
		<key>&apos;CD4M&apos;</key>
		<dict>
			<key>AppName</key>
			<string>Call of Duty 4 Multiplayer</string>
			<key>ArgsOrder</key>
			<array>
				<string>PasswordArg</string>
				<string>ConnectArg</string>
			</array>
			<key>Args</key>
			<dict>
				<key>ConnectArg</key>
				<string>+connect</string>
				<key>PasswordArg</key>
				<string>+password</string>
			</dict>
			<key>BundleID</key>
			<string>com.aspyr.callofduty4</string>
			<key>GameID</key>
			<integer>5186</integer>
			<key>FileCreator</key>
			<string>&apos;CD4M&apos;</string>
		</dict>
	</dict>
	<key>com.transgaming.cityofheroes</key>
	<dict>
		<key>AppName</key>
		<string>City of Heroes</string>
		<key>BundleID</key>
		<string>com.transgaming.cityofheroes</string>
		<key>GameID</key>
		<integer>4217</integer>
	</dict>
	<key>Civilization IV Warlords</key>
	<dict>
		<key>AppName</key>
		<string>Civilization IV Warlords</string>
		<key>GameID</key>
		<integer>4866</integer>
	</dict>
	<key>Close Combat First to Fight</key>
	<dict>
		<key>AppName</key>
		<string>Close Combat First to Fight</string>
		<key>GameID</key>
		<integer>4446</integer>
	</dict>
	<key>Command and Conquer - Red alert 3</key>
	<dict>
		<key>AppName</key>
		<string>Command and Conquer - Red alert 3</string>
		<key>GameID</key>
		<integer>5601</integer>
	</dict>
	<key>Command and Conquer 3</key>
	<dict>
		<key>AppName</key>
		<string>Command and Conquer 3</string>
		<key>GameID</key>
		<integer>5013</integer>
	</dict>
	<key>Command &amp; Conquer Generals</key>
	<dict>
		<key>AppName</key>
		<string>Command &amp; Conquer Generals</string>
		<key>GameID</key>
		<integer>4129</integer>
	</dict>
	<key>Counter Strike 1.6</key>
	<dict>
		<key>AppName</key>
		<string>Counter Strike 1.6</string>
		<key>BundleID</key>
		<string>com.transgaming.cs</string>
		<key>PortType</key>
		<string>Cider</string>
		<key>GameID</key>
		<integer>5</integer>
	</dict>
	<key>com.valvesoftware.CounterStrikeSource</key>
	<dict>
		<key>BundleID</key>
		<string>com.valvesoftware.CounterStrikeSource</string>
		<key>AppName</key>
		<string>Counter Strike: Source</string>
		<key>GameID</key>
		<integer>4331</integer>
		<key>FileCreator</key>
		<string>&apos;CS:S&apos;</string>
		<key>LaunchURLString</key>
		<string>steam://run/240</string>
	</dict>
	<key>com.valvesoftware.DayOfDefeatSource</key>
	<dict>
		<key>BundleID</key>
		<string>com.valvesoftware.DayOfDefeatSource</string>
		<key>AppName</key>
		<string>Day of Defeat: Source</string>
		<key>GameID</key>
		<integer>4331</integer>
		<key>FileCreator</key>
		<string>&apos;DD:S&apos;</string>
		<key>LaunchURLString</key>
		<string>steam://run/300</string>
	</dict>
	<key>com.valvesoftware.Half-Life2</key>
	<dict>
		<key>BundleID</key>
		<string>com.valvesoftware.Half-Life2</string>
		<key>AppName</key>
		<string>Half-Life 2</string>
		<key>GameID</key>
		<integer>4331</integer>
		<key>FileCreator</key>
		<string>&apos;HFL2&apos;</string>
		<key>LaunchURLString</key>
		<string>steam://run/220</string>
	</dict>
	<key>com.valvesoftware.TeamFortress2</key>
	<dict>
		<key>BundleID</key>
		<string>com.valvesoftware.TeamFortress2</string>
		<key>AppName</key>
		<string>Team Fortress 2</string>
		<key>GameID</key>
		<integer>4331</integer>
		<key>FileCreator</key>
		<string>&apos;TF2x&apos;</string>
		<key>LaunchURLString</key>
		<string>steam://run/440</string>
	</dict>
	<key>com.valvesoftware.Portal</key>
	<dict>
		<key>BundleID</key>
		<string>com.valvesoftware.Portal</string>
		<key>AppName</key>
		<string>Portal</string>
		<key>GameID</key>
		<integer>4331</integer>
		<key>FileCreator</key>
		<string>&apos;DROP&apos;</string>
		<key>LaunchURLString</key>
		<string>steam://run/400</string>
	</dict>
	<key>DEFCON</key>
	<dict>
		<key>AppName</key>
		<string>DEFCON</string>
		<key>GameID</key>
		<integer>4920</integer>
	</dict>
	<key>Darwinia</key>
	<dict>
		<key>AppName</key>
		<string>Darwinia</string>
		<key>GameID</key>
		<integer>4431</integer>
	</dict>
	<key>Diablo II (Carbon)</key>
	<dict>
		<key>AppName</key>
		<string>Diablo II (Carbon)</string>
		<key>GameID</key>
		<integer>4285</integer>
	</dict>
	<key>com.aspyr.doom3</key>
	<dict>
		<key>AppName</key>
		<string>Doom 3</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>+connect</string>
			<key>PasswordArg</key>
			<string>+password</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>PasswordArg</string>
			<string>ConnectArg</string>
		</array>
		<key>BundleID</key>
		<string>com.aspyr.doom3</string>
		<key>GameID</key>
		<integer>4271</integer>
	</dict>
	<key>Dungeon Siege</key>
	<dict>
		<key>AppName</key>
		<string>Dungeon Siege</string>
		<key>GameID</key>
		<integer>4100</integer>
	</dict>
	<key>Elite Force HM 1.2</key>
	<dict>
		<key>AppName</key>
		<string>Elite Force HM 1.2</string>
		<key>GameID</key>
		<integer>4208</integer>
	</dict>
	<key>Elite Force HM Carbon</key>
	<dict>
		<key>AppName</key>
		<string>Elite Force HM Carbon</string>
		<key>GameID</key>
		<integer>4208</integer>
	</dict>
	<key>Elite Force Holomatch</key>
	<dict>
		<key>AppName</key>
		<string>Elite Force Holomatch</string>
		<key>GameID</key>
		<integer>4208</integer>
	</dict>
	<key>Empire at War</key>
	<dict>
		<key>AppName</key>
		<string>Empire at War</string>
		<key>GameID</key>
		<integer>4726</integer>
	</dict>
	<key>com.aspyr.etqw</key>
	<dict>
		<key>AppName</key>
		<string>Enemy Territory QUAKE Wars</string>
		<key>BundleID</key>
		<string>com.aspyr.etqw</string>
		<key>GameID</key>
		<integer>5080</integer>
	</dict>
	<key>com.transgaming.EVEOnline</key>
	<dict>
		<key>AppName</key>
		<string>EVE Online</string>
		<key>BundleID</key>
		<string>com.transgaming.EVEOnline</string>
		<key>GameID</key>
		<integer>4320</integer>
	</dict>
	<key>com.macplay.Fallout</key>
	<dict>
		<key>AppName</key>
		<string>Fallout</string>
		<key>BundleID</key>
		<string>com.macplay.Fallout</string>
		<key>GameID</key>
		<integer>4638</integer>
	</dict>
	<key>Freecell</key>
	<dict>
		<key>AppName</key>
		<string>Freecell</string>
		<key>GameID</key>
		<integer>4745</integer>
	</dict>
	<key>Full Tilt Poker</key>
	<dict>
		<key>AppName</key>
		<string>Full Tilt Poker</string>
		<key>GameID</key>
		<integer>4995</integer>
	</dict>
	<key>Galactic Battlegrounds</key>
	<dict>
		<key>AppName</key>
		<string>Galactic Battlegrounds</string>
		<key>GameID</key>
		<integer>4384</integer>
	</dict>
	<key>Ghost Recon</key>
	<dict>
		<key>AppName</key>
		<string>Ghost Recon</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>-client</string>
			<key>PasswordArg</key>
			<string>-password</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>ConnectArg</string>
			<string>PasswordArg</string>
		</array>
		<key>GameID</key>
		<integer>4154</integer>
	</dict>
	<key>Half Life 2</key>
	<dict>
		<key>AppName</key>
		<string>Half Life 2</string>
		<key>GameID</key>
		<integer>4357</integer>
	</dict>
	<key>Half Life 2: Episode One</key>
	<dict>
		<key>AppName</key>
		<string>Half Life 2: Episode One</string>
		<key>GameID</key>
		<integer>4822</integer>
	</dict>
	<key>Half Life 2: Episode Two</key>
	<dict>
		<key>AppName</key>
		<string>Half Life 2: Episode Two</string>
		<key>GameID</key>
		<integer>5154</integer>
	</dict>
	<key>com.macsoft.halo</key>
	<dict>
		<key>AppName</key>
		<string>Halo</string>
		<key>BundleID</key>
		<string>com.macsoft.halo</string>
		<key>GameID</key>
		<integer>4107</integer>
	</dict>
	<key>Heroes of Might and Magic V</key>
	<dict>
		<key>AppName</key>
		<string>Heroes of Might and Magic V</string>
		<key>GameID</key>
		<integer>4815</integer>
	</dict>
	<key>Homeworld 2</key>
	<dict>
		<key>AppName</key>
		<string>Homeworld 2</string>
		<key>GameID</key>
		<integer>4389</integer>
	</dict>
	<key>com.aspyr.jediacademy</key>
	<dict>
		<key>AppName</key>
		<string>Jedi Academy</string>
		<key>BundleID</key>
		<string>com.aspyr.jediacademy</string>
		<key>GameID</key>
		<integer>4157</integer>
	</dict>
	<key>com.aspyr.jediacademymp</key>
	<dict>
		<key>AppName</key>
		<string>Jedi Academy MP</string>
		<key>Args</key>
		<array>
			<string>NSServices</string>
		</array>
		<key>BundleID</key>
		<string>com.aspyr.jediacademymp</string>
		<key>GameID</key>
		<integer>4158</integer>
	</dict>
	<key>Jedi Knight II MP</key>
	<dict>
		<key>AppName</key>
		<string>Jedi Knight II MP</string>
		<key>Args</key>
		<array>
			<string>NSServices</string>
		</array>
		<key>GameID</key>
		<integer>4160</integer>
	</dict>
	<key>Klondike Forever</key>
	<dict>
		<key>AppName</key>
		<string>Klondike Forever</string>
		<key>GameID</key>
		<integer>4148</integer>
	</dict>
	<key>Knights of the Old Republic</key>
	<dict>
		<key>AppName</key>
		<string>Knights of the Old Republic</string>
		<key>GameID</key>
		<integer>4121</integer>
	</dict>
	<key>LEGO Star Wars</key>
	<dict>
		<key>AppName</key>
		<string>LEGO Star Wars</string>
		<key>GameID</key>
		<integer>4445</integer>
	</dict>
	<key>Left 4 Dead</key>
	<dict>
		<key>AppName</key>
		<string>Left 4 Dead</string>
		<key>GameID</key>
		<integer>5633</integer>
	</dict>
	<key>Legion Arena</key>
	<dict>
		<key>AppName</key>
		<string>Legion Arena</string>
		<key>GameID</key>
		<integer>4628</integer>
	</dict>
	<key>Lineage</key>
	<dict>
		<key>AppName</key>
		<string>Lineage</string>
		<key>GameID</key>
		<integer>4113</integer>
	</dict>
	<key>net.mame.mameosx</key>
	<dict>
		<key>AppName</key>
		<string>MAME OS X</string>
		<key>BundleID</key>
		<string>net.mame.mameosx</string>
		<key>GameID</key>
		<integer>4268</integer>
	</dict>
	<key>com.bannister.nestopia</key>
	<dict>
		<key>AppName</key>
		<string>Nestopia</string>
		<key>BundleID</key>
		<string>com.bannister.nestopia</string>
		<key>GameID</key>
		<integer>4268</integer>
	</dict>
	<key>org.macmame.macmame</key>
	<dict>
		<key>AppName</key>
		<string>MacMAME</string>
		<key>BundleID</key>
		<string>org.macmame.macmame</string>
		<key>GameID</key>
		<integer>4268</integer>
	</dict>
	<key>Maelstrom</key>
	<dict>
		<key>AppName</key>
		<string>Maelstrom</string>
		<key>GameID</key>
		<integer>4986</integer>
	</dict>
	<key>com.remedy.maxpayne</key>
	<dict>
		<key>BundleID</key>
		<string>com.remedy.maxpayne</string>
		<key>GameID</key>
		<integer>4307</integer>
	</dict>
	<key>com.aspyr.mohaa</key>
	<dict>
		<key>AppName</key>
		<string>Medal of Honor</string>
		<key>BundleID</key>
		<string>com.aspyr.mohaa</string>
		<key>GameID</key>
		<integer>4114</integer>
	</dict>
	<key>Myst</key>
	<dict>
		<key>AppName</key>
		<string>Myst</string>
		<key>GameID</key>
		<integer>4764</integer>
	</dict>
	<key>NOLF2</key>
	<dict>
		<key>AppName</key>
		<string>NOLF2</string>
		<key>GameID</key>
		<integer>4305</integer>
	</dict>
	<key>Nascar 2003</key>
	<dict>
		<key>AppName</key>
		<string>Nascar 2003</string>
		<key>GameID</key>
		<integer>4207</integer>
	</dict>
	<key>Neverwinter Nights</key>
	<dict>
		<key>AppName</key>
		<string>Neverwinter Nights</string>
		<key>GameID</key>
		<integer>4108</integer>
	</dict>
	<key>Nexuiz</key>
	<dict>
		<key>AppName</key>
		<string>Nexuiz</string>
		<key>GameID</key>
		<integer>5697</integer>
	</dict>
	<key>com.popcap.plantsvszombies</key>
	<dict>
		<key>AppName</key>
		<string>Plants vs. Zombies</string>
		<key>BundleID</key>
		<string>com.popcap.plantsvszombies</string>
		<key>GameID</key>
		<integer>5792</integer>
	</dict>
	<key>Prey</key>
	<dict>
		<key>AppName</key>
		<string>Prey</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>+connect</string>
			<key>PasswordArg</key>
			<string>+password</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>PasswordArg</string>
			<string>ConnectArg</string>
		</array>
		<key>GameID</key>
		<integer>4858</integer>
	</dict>
	<key>com.fruitz-of-dojo.quake2</key>
	<dict>
		<key>AppName</key>
		<string>Quake II</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>+connect</string>
			<key>PasswordArg</key>
			<string>+password</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>PasswordArg</string>
			<string>ConnectArg</string>
		</array>
		<key>BundleID</key>
		<string>com.fruitz-of-dojo.quake2</string>
		<key>GameID</key>
		<integer>4116</integer>
	</dict>
	<key>Quake3</key>
	<dict>
		<key>MultipleEntries</key>
		<array>
			<dict>
				<key>AppName</key>
				<string>Quake3 UB</string>
				<key>Args</key>
				<dict>
					<key>ConnectArg</key>
					<string>+connect</string>
					<key>PasswordArg</key>
					<string>+password</string>
				</dict>
				<key>ArgsOrder</key>
				<array>
					<string>PasswordArg</string>
					<string>ConnectArg</string>
				</array>
				<key>BundleID</key>
				<string>com.idsoftware.Quake3</string>
				<key>FileCreator</key>
				<string>&apos;IDQ3&apos;</string>
				<key>GameID</key>
				<integer>4111</integer>
				<key>NSServices</key>
				<array>
					<dict>
						<key>NSMenuItem</key>
						<dict>
							<key>default</key>
							<string>Quake3/Connect To Server</string>
						</dict>
						<key>NSMessage</key>
						<string>connectToServer</string>
						<key>NSPortName</key>
						<string>Quake3</string>
						<key>NSSendTypes</key>
						<array>
							<string>NSStringPboardType</string>
						</array>
					</dict>
					<dict>
						<key>NSMenuItem</key>
						<dict>
							<key>default</key>
							<string>Quake3/Perform Command</string>
						</dict>
						<key>NSMessage</key>
						<string>performCommand</string>
						<key>NSPortName</key>
						<string>Quake3</string>
						<key>NSSendTypes</key>
						<array>
							<string>NSStringPboardType</string>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>AppName</key>
				<string>Quake3</string>
				<key>Args</key>
				<dict>
					<key>ConnectArg</key>
					<string>+connect</string>
					<key>PasswordArg</key>
					<string>+password</string>
				</dict>
				<key>ArgsOrder</key>
				<array>
					<string>PasswordArg</string>
					<string>ConnectArg</string>
				</array>
				<key>GameID</key>
				<integer>4111</integer>
			</dict>
		</array>
	</dict>
	<key>com.aspyr.Quake4</key>
	<dict>
		<key>AppName</key>
		<string>Quake 4</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>+connect</string>
			<key>PasswordArg</key>
			<string>+password</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>PasswordArg</string>
			<string>ConnectArg</string>
		</array>
		<key>BundleID</key>
		<string>com.aspyr.Quake4</string>
		<key>GameID</key>
		<integer>4678</integer>
	</dict>
	<key>com.aspyr.ravenshield</key>
	<dict>
		<key>AppName</key>
		<string>Raven Shield</string>
		<key>BundleID</key>
		<string>com.aspyr.ravenshield</string>
		<key>GameID</key>
		<integer>4141</integer>
	</dict>
	<key>com.aspyr.rtcw</key>
	<dict>
		<key>&apos;WlfS&apos;</key>
		<dict>
			<key>AppName</key>
			<string>Wolfenstein SP</string>
			<key>BundleID</key>
			<string>com.aspyr.rtcw</string>
			<key>GameID</key>
			<integer>4173</integer>
			<key>FileCreator</key>
			<string>&apos;WlfS&apos;</string>
		</dict>
		<key>&apos;WlfM&apos;</key>
		<dict>
			<key>AppName</key>
			<string>Wolfenstein MP</string>
			<key>Args</key>
			<dict>
				<key>ConnectArg</key>
				<string>+connect</string>
				<key>PasswordArg</key>
				<string>+password</string>
			</dict>
			<key>ArgsOrder</key>
			<array>
				<string>PasswordArg</string>
				<string>ConnectArg</string>
			</array>
			<key>BundleID</key>
			<string>com.aspyr.rtcw</string>
			<key>GameID</key>
			<integer>4174</integer>
			<key>FileCreator</key>
			<string>&apos;WlfM&apos;</string>
		</dict>
	</dict>
	<key>com.activision.rtcw_et</key>
	<dict>
		<key>AppName</key>
		<string>Wolfenstein ET</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>+connect</string>
			<key>PasswordArg</key>
			<string>+password</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>PasswordArg</string>
			<string>ConnectArg</string>
		</array>
		<key>BundleID</key>
		<string>com.activision.rtcw_et</string>
		<key>GameID</key>
		<integer>4097</integer>
	</dict>
	<key>Rise of Nations Gold</key>
	<dict>
		<key>AppName</key>
		<string>Rise of Nations Gold</string>
		<key>GameID</key>
		<integer>4135</integer>
	</dict>
	<key>Sauerbraten</key>
	<dict>
		<key>AppName</key>
		<string>Sauerbraten</string>
		<key>GameID</key>
		<integer>5055</integer>
	</dict>
	<key>Second Life</key>
	<dict>
		<key>AppName</key>
		<string>Second Life</string>
		<key>GameID</key>
		<integer>4179</integer>
	</dict>
	<key>com.aspyr.simcity4</key>
	<dict>
		<key>AppName</key>
		<string>SimCity 4</string>
		<key>BundleID</key>
		<string>com.aspyr.simcity4</string>
		<key>GameID</key>
		<integer>4127</integer>
	</dict>
	<key>com.macplay.SoldierOfFortune2</key>
	<dict>
		<key>AppName</key>
		<string>SOF II - Single Player</string>
		<key>BundleID</key>
		<string>com.macplay.SoldierOfFortune2</string>
		<key>GameID</key>
		<integer>4153</integer>
	</dict>
	<key>com.macplay.SoldierOfFortune2MP</key>
	<dict>
		<key>AppName</key>
		<string>SOF II - Multiplayer</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>+connect</string>
			<key>PasswordArg</key>
			<string>+password</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>PasswordArg</string>
			<string>ConnectArg</string>
		</array>
		<key>BundleID</key>
		<string>com.macplay.SoldierOfFortune2MP</string>
		<key>GameID</key>
		<integer>4151</integer>
	</dict>
	<key>Spearhead</key>
	<dict>
		<key>AppName</key>
		<string>Spearhead</string>
		<key>GameID</key>
		<integer>4152</integer>
	</dict>
	<key>Starcraft (Carbon)</key>
	<dict>
		<key>AppName</key>
		<string>Starcraft (Carbon)</string>
		<key>GameID</key>
		<integer>4101</integer>
	</dict>
	<key>com.aspyr.SWTFU</key>
	<dict>
		<key>AppName</key>
		<string>Star Wars The Force Unleashed</string>
		<key>BundleID</key>
		<string>com.aspyr.SWTFU</string>
		<key>GameID</key>
		<integer>5987</integer>
	</dict>
	<key>Stronghold</key>
	<dict>
		<key>AppName</key>
		<string>Stronghold</string>
		<key>GameID</key>
		<integer>4604</integer>
	</dict>
	<key>The Sims 2</key>
	<dict>
		<key>AppName</key>
		<string>The Sims 2</string>
		<key>GameID</key>
		<integer>4322</integer>
	</dict>
	<key>com.transgaming.thesims3</key>
	<dict>
		<key>AppName</key>
		<string>The Sims 3</string>
		<key>BundleID</key>
		<string>com.transgaming.thesims3</string>
		<key>GameID</key>
		<integer>5828</integer>
	</dict>
	<key>The Sims Carbon</key>
	<dict>
		<key>AppName</key>
		<string>The Sims Carbon</string>
		<key>GameID</key>
		<integer>4293</integer>
	</dict>
	<key>The Sims Vacation</key>
	<dict>
		<key>AppName</key>
		<string>The Sims Vacation</string>
		<key>GameID</key>
		<integer>4293</integer>
	</dict>
	<key>TrueCrimeMac</key>
	<dict>
		<key>AppName</key>
		<string>TrueCrimeMac</string>
		<key>Args</key>
		<dict>
			<key>ConnectArg</key>
			<string>-connect</string>
		</dict>
		<key>ArgsOrder</key>
		<array>
			<string>ConnectArg</string>
		</array>
		<key>GameID</key>
		<integer>4242</integer>
	</dict>
	<key>net.tremulous</key>
	<dict>
		<key>AppName</key>
		<string>Tremulous</string>
		<key>BundleID</key>
		<string>net.tremulous</string>
		<key>GameID</key>
		<integer>5079</integer>
	</dict>
	<key>net.urbanterror.www</key>
	<dict>
		<key>AppName</key>
		<string>ioUrbanTerror</string>
		<key>GameID</key>
		<integer>5128</integer>
		<key>BundleID</key>
		<string>net.urbanterror.www</string>
	</dict>
	<key>iostvoyHM-1.37</key>
	<dict>
		<key>AppName</key>
		<string>iostvoyHM-1.37</string>
		<key>GameID</key>
		<integer>4208</integer>
	</dict>
	<key>com.epicgames.ut2004demo</key>
	<dict>
		<key>AppName</key>
		<string>Unreal Tournament 2004 Demo</string>
		<key>BundleID</key>
		<string>com.epicgames.ut2004demo</string>
		<key>GameID</key>
		<integer>4162</integer>
	</dict>
	<key>com.epicgames.ut2004</key>
	<dict>
		<key>AppName</key>
		<string>Unreal Tournament 2004</string>
		<key>BundleID</key>
		<string>com.epicgames.ut2004</string>
		<key>GameID</key>
		<integer>4181</integer>
	</dict>
	<key>com.macsoft.ut</key>
	<dict>
		<key>AppName</key>
		<string>Unreal Tournament OS X</string>
		<key>BundleID</key>
		<string>com.macsoft.ut</string>
		<key>GameID</key>
		<integer>3</integer>
	</dict>
	<key>Warcraft II</key>
	<dict>
		<key>AppName</key>
		<string>Warcraft II</string>
		<key>GameID</key>
		<integer>4390</integer>
	</dict>
	<key>com.blizzard.WarcraftIII</key>
	<dict>
		<key>AppName</key>
		<string>Warcraft III</string>
		<key>BundleID</key>
		<string>com.blizzard.WarcraftIII</string>
		<key>FileCreator</key>
		<string>&apos;War3&apos;</string>
		<key>GameID</key>
		<integer>4112</integer>
	</dict>
	<key>Warcraft III - The Frozen Throne</key>
	<dict>
		<key>AppName</key>
		<string>The Frozen Throne</string>
		<key>BundleID</key>
		<string>com.blizzard.Launcher</string>
		<key>FileCreator</key>
		<string>&apos;FrTh&apos;</string>
		<key>GameID</key>
		<integer>4270</integer>
	</dict>
	<key>WoP</key>
	<dict>
		<key>AppName</key>
		<string>WoP</string>
		<key>GameID</key>
		<integer>5065</integer>
	</dict>
	<key>com.blizzard.worldofwarcraft</key>
	<dict>
		<key>AppName</key>
		<string>World of Warcraft</string>
		<key>BundleID</key>
		<string>com.blizzard.worldofwarcraft</string>
		<key>GameID</key>
		<integer>4216</integer>
	</dict>
	<key>Worms 3D</key>
	<dict>
		<key>AppName</key>
		<string>Worms 3D</string>
		<key>GameID</key>
		<integer>4367</integer>
	</dict>
	<key>Zero Hour</key>
	<dict>
		<key>AppName</key>
		<string>Zero Hour</string>
		<key>GameID</key>
		<integer>4156</integer>
	</dict>
	<key>Zoo Tycoon 2</key>
	<dict>
		<key>AppName</key>
		<string>Zoo Tycoon 2</string>
		<key>GameID</key>
		<integer>4364</integer>
	</dict>
</dict>
</plist>
