<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>beginInstruction</key>
	<string>(</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string>#</string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>endInstruction</key>
	<string>)</string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string> ,</string>
	<key>firstSingleLineComment</key>
	<string>*</string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>functionDefinition</key>
	<string>^([A-Za-z0-9])+:</string>
	<key>includeInKeywordStartCharacterSet</key>
	<string>.</string>
	<key>keywords</key>
	<array>
		<string>MOVE</string>
		<string>EXG</string>
		<string>LINK</string>
		<string>UNLK</string>
		<string>MOVEM</string>
		<string>MOVEP</string>
		<string>MOVEQ</string>
		<string>LEA</string>
		<string>PEA</string>
		<string>CLR</string>
		<string>SWAP</string>
		<string>SCC</string>
		<string>SCS</string>
		<string>SEQ</string>
		<string>SF</string>
		<string>SGE</string>
		<string>SGT</string>
		<string>SHI</string>
		<string>SLS</string>
		<string>SLE</string>
		<string>SLT</string>
		<string>SMI</string>
		<string>SNE</string>
		<string>SPL</string>
		<string>ST</string>
		<string>SVC</string>
		<string>SVS</string>
		<string>TAS</string>
		<string>ADD</string>
		<string>ADDA</string>
		<string>ADDQ</string>
		<string>ADDX</string>
		<string>ABCD</string>
		<string>NEG</string>
		<string>NEGX</string>
		<string>NBCD</string>
		<string>SUB</string>
		<string>SUBA</string>
		<string>SUBQ</string>
		<string>SUBX</string>
		<string>SBCD</string>
		<string>MULS</string>
		<string>MULU</string>
		<string>DIVS</string>
		<string>DIVU</string>
		<string>EXT</string>
		<string>CMP</string>
		<string>CMPM</string>
		<string>TST</string>
		<string>NOT</string>
		<string>AND</string>
		<string>OR</string>
		<string>EOR</string>
		<string>ASL</string>
		<string>ASR</string>
		<string>LSL</string>
		<string>LSR</string>
		<string>ROL</string>
		<string>ROR</string>
		<string>ROXL</string>
		<string>ROXR</string>
		<string>BTST</string>
		<string>BSET</string>
		<string>BCLR</string>
		<string>BCHG</string>
		<string>BRA</string>
		<string>JMP</string>
		<string>BSR</string>
		<string>JSR</string>
		<string>RTS</string>
		<string>RTR</string>
		<string>RTE</string>
		<string>BCC</string>
		<string>BCS</string>
		<string>BEQ</string>
		<string>BF</string>
		<string>BGE</string>
		<string>BGT</string>
		<string>BHI</string>
		<string>BLS</string>
		<string>BLE</string>
		<string>BLT</string>
		<string>BMI</string>
		<string>BNE</string>
		<string>BPL</string>
		<string>BT</string>
		<string>BVC</string>
		<string>BVS</string>
		<string>DBCC</string>
		<string>DBCS</string>
		<string>DBEQ</string>
		<string>DBF</string>
		<string>DBGE</string>
		<string>DBGT</string>
		<string>DBHI</string>
		<string>DBLS</string>
		<string>DBLE</string>
		<string>DBLT</string>
		<string>DBMI</string>
		<string>DBNE</string>
		<string>DBPL</string>
		<string>DBT</string>
		<string>DBVC</string>
		<string>DBVS</string>
		<string>CHK</string>
		<string>TRAP</string>
		<string>TRAPV</string>
		<string>ANDI</string>
		<string>EORI</string>
		<string>ORI</string>
		<string>NOP</string>
		<string>RESET</string>
		<string>STOP</string>
		<string>BREAK</string>
		<string>ORG</string>
		<string>EQU</string>
		<string>DC</string>
		<string>DS</string>
		<string>SET</string>
		<string>REG</string>
		<string>DCB</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<false/>
	<key>removeFromFunction</key>
	<string>:</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>&apos;</string>
</dict>
</plist>
