<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Distribution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>HL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>HLKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NVCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NVImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>NVMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>NVTextureTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Source Addon Finagler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Source Finagler (Debug).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Source Finagler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Source.mdimporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SourceFinaglerAgent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SourceImage.qlgenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SteamKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TextureKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>VTF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>decompress.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>sourceFinaglerInstaller.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>sourcefinaglerd.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1224BEB13B06B9A009AA0F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C140E63C13889A9400027DD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C155218011D9954B00CCEDD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1580F0F139634DA00D5D4D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C17319B11298D11400C29732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A112B111D66369008BBABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A112D311D66676008BBABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1B95274124E73B200E83451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1C12633123A54F0004674B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1C2C4D7127CBCA0003B24F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1C2C626127CBED1003B24F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1C2C64A127CBEF7003B24F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1D4494A12602E5100A027EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1FEA7E9125E5C9600CA78FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1FEA8DD125E5DC300CA78FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1FEA8FC125E71A200CA78FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1FEA92F125E72E300CA78FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1FEAB30125F633100CA78FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
